<%= form_for @post do |f| %>
  <div class='form-group'>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
 
  <div class='form-group'>
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
 
  <div class='actions'>
    <%= f.submit class: 'btn btn-primary btn-success' %>
  </div>
<% end %>