<div class = 'container'>
  <div class= 'row post-page'>
    <div class= 'col-lg-8'>
      <h1> <%= @post.title %> </h1>

      <p style='font-size: 14px;'><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

      <p>
        <%= @post.description %>
      </p>
      
      <p>
      <% @post.tags.each{|tag|%>
        <a href='<%="/posts-by-tags/#{tag.name}"%>'  class='tags'><span><%=tag.name %></span></a>
      <%}%>
      </p>
      <% if current_user.id == @post.user.id %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default btn-primary" %> 
        <%= link_to 'Back', posts_path, class: "btn btn-default btn-primary" %>
      <%end%>
    </br>
    </br>

    <div class="well">
      <h4>Leave a Comment:</h4>
        <form>
          <div class="form-group">
            <textarea id="comment_body" class= 'form-control'></textarea>
          </div>
            <input type="button" class= "btn btn-default btn-primary" name = "Comment" value="Comment" id = "js-submit-comment" data-post-id = <%= @post.id%>>
        </form>
    </div>
    <div class = 'comments'>
      <% @post.comments.each do |comment| %>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
          </a>
        	<div class="media-body">
            <h4 class="media-heading"><%= comment.user.email %>: 
                <small><%= comment.created_at%></small>
            </h4>   
          	<%= comment.body %>
          	<% if comment.user == current_user %> 
        		  <input type="button" class= "btn btn-default btn-primary"  value = "delete" id = "js-delete-comment" data-comment-id = <%=comment.id%>>
        	    <%end%>
        	</div>
        </div>
      <% end %>
    </div>


    </div>
  </div>
</div>


<script>
 $(document).ready(function(){
 	$('body').on('click', '#js-delete-comment' ,function(event){
 		var $comment_div = $(this).parent().parent();
 		$.ajax({
           type: "DELETE",
           url: "/delete_comment",
           dataType: "json", 
           success: function (response) {
               if (response.status === "OK") {
                   $comment_div.remove();
               } else {
                   alert("not able to delete");
               }
           },

           data: {'id': $(this).data('comment-id')}
       });
 	});

 	$('#js-submit-comment').click(function(event){
 		var body = $("#comment_body").val();
 		if(body === undefined){
 			alert(" Comment body in empty")
 			return;
 		}
 		var comment = {'comment':{'body': body, 'post_id': $(this).data('post-id')}}
 		$.ajax({
           type: "POST",
           url: "/create_comment",
           dataType: "json", 
           success: function (response) {
               if (response.status === "OK") {
                   var comment = response.data.comment;
                   $('.comments').append('<div class="media">'+
                                            '<a class="pull-left" href="#">'+
                                              '<img class="media-object" src="http://placehold.it/64x64" alt="">'+
                                            '</a>'+
                                            '<div class="media-body">'+
                                            '<h4 class="media-heading">'+response.data.user+ 
                                              '<small>'+comment.created_at+'</small>'+
                                            '</h4>'+  
                                              comment.body +
                                            '<input type="button" class= "btn btn-default btn-primary"  value = "delete" id = "js-delete-comment" data-comment-id =' 
                                            +comment.id+ '></div>'+
                                        '</div>');
                   $("#comment_body").val("");
               } else {
                   alert(response.errors);
               }
           },

           data: comment
       });
 	})
 })
</script>
 
