<!DOCTYPE html>
<html>
  <head>
    <title>PraveenBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%=link_to "Logout", destroy_user_session_path %>
    <%end%>
    <style type="">
      .alert-notice{
        background-color: green;
        opacity: 0.5;
      }
      .alert-alert{
        background-color: red;
        opacity: 0.5;
      }
    </style>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <% if value.is_a?(Array) %>
          <% value.each do |msg| %>
           <li><%= msg %></li>
           <% end %>
        <%else%>
           <%= value %>
        <%end%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
